<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="/scripts/script1.js"></script>
  </head>
  <body>
     <form action = "/" method = "POST">
            <table>
                <tr>
                    <td>
                    <th>8:00-9:00</th>
                    <th>9:00-10:00</th>
                    <th>10:00-11:00</th>
                    <th>11:00-12:00</th>
                    <th>12:00-1:00</th>
                    </td>
                </tr>
                <% for(var i = 0; i < 5; i++) { %>
                    <tr class = "row">
                        <td> <%=day[i]%> </td>
                        <% for(var j=0; j<5; j++) {%>


                                <td class = "sched"><input type="hidden" value="0" name="matrix[<%= i %>]"></input></td>

                        <%}%>
                    </tr>
                <% } %>
            </table>
                <input type = "comment" name = "comment" placeholder="Comment of the Day..." class="comment"><br>
            <button type = "submit" class = "box"> Save Table</button>
        </form>
  </body>
</html>
