body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sched {
  border: 1px solid black;
  padding: 50px;
  background-color: lightcyan;
}


.row:hover, .freecell{
  background-color: slategray;
}

.sched:hover, .freecell {
  background-color: aquamarine;
}

.box {
  margin-left: 80px;
}

.comment {
  width: 200px;
  height: 100px;
  margin-left: 80px;
}